/* The Grid ---------------------- */
.lt-ie9 .row {width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto;}
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }


/* large Block Grids */
.lt-ie9 [class*="block-grid-"] {
    display: block;
    margin: 0 -10px;
    padding: 0;
}
.lt-ie9 [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table;
}
.lt-ie9 [class*="block-grid-"]:after {
    clear: both;
}
.lt-ie9 [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 10px 10px;
}
.lt-ie9 .small-block-grid-1 > li {
    padding: 0 10px 10px;
    width: 100%;
}
.lt-ie9 .small-block-grid-1 > li:nth-of-type(n+1) {
    clear: both;
}
.lt-ie9 .large-block-grid-2 {
    list-style: none;
}

.lt-ie9 .large-block-grid-2 li {
    float: left;
    width: 50%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-2 li:first-child+li {
    float: right;
}

.lt-ie9 .large-block-grid-2 li:first-child+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-3 {
    list-style: none;
}

.lt-ie9 .large-block-grid-3 li {
    float: left;
    width: 33.3333%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-3 li:first-child+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-3 li:first-child+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-4 {
    list-style: none;
}

.lt-ie9 .large-block-grid-4 li {
    float: left;
    width: 25%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-4 li:first-child+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-4 li:first-child+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-5 {
    list-style: none;
}

.lt-ie9 .large-block-grid-5 li {
    float: left;
    width: 20%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-5 li:first-child+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-5 li:first-child+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-6 {
    list-style: none
}

.lt-ie9 .large-block-grid-6 li {
    float: left;
    width: 16.6667%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-6 li:first-child+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-6 li:first-child+li+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-7 {
    list-style: none;
}

.lt-ie9 .large-block-grid-7 li {
    float: left;
    width: 14.2857142%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-7 li:first-child+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-7 li:first-child+li+li+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-8 {
    list-style: none;
}

.lt-ie9 .large-block-grid-8 li {
    float: left;
    width: 12.5%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-8 li:first-child+li+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-8 li:first-child+li+li+li+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-9 {
    list-style: none;
}

.lt-ie9 .large-block-grid-9 li {
    float: left;
    width: 11.111111%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-10 {
    list-style: none;
}

.lt-ie9 .large-block-grid-10 li {
    float: left;
    width: 10%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li+li {
    clear: both
}

.lt-ie9 .large-block-grid-11 {
    list-style: none;
}

.lt-ie9 .large-block-grid-11 li {
    float: left;
    width: 9.0909%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    clear: both;
}

.lt-ie9 .large-block-grid-12 {
    list-style: none;
}

.lt-ie9 .large-block-grid-12 li {
    float: left;
    width: 8.333333%;
    padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    float: right;
}

.lt-ie9 .large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li+li {
    clear: both;
}
.lt-ie9 #flags_language_selector {
	float:none;
}
/* IE7 large Block Grids */
.lt-ie9 .hide-for-small {
	display:block!important;
}
.lt-ie9 .top-bar {
	display:none!important;
}
.lt-ie9 .main-navigation {
	top:1px;
}
.lt-ie9 h4 {
	font-size:1.41em;
}
.lt-ie9 h2 {
	font-size:2.315em;
}
.lt-ie8 .large-3, 
.lt-ie8 .row .large-3 { width: 21%; }

.lt-ie8 .large-2, 
.lt-ie8 .row .large-2 { width: 12.66667%; }

.lt-ie8 .large-9, 
.lt-ie8 .row .large-9 { width: 72%; }

.lt-ie8 .large-8, 
.lt-ie8 .row .large-8 { width: 63.66667%; }

.lt-ie8 .large-block-grid-3 li {
    float: left;
    width: 31.3333%;
    padding: 0 10px 10px;
}
.lt-ie8 .large-block-grid-4 li {
    float: left;
    width: 21%;
    padding: 0 10px 10px;
}
.lt-ie9 .large-block-grid-4 li:first-child+li+li+li+li {
    clear: none;
}
.lt-ie8 #site-description {
	line-height:1.4;
	font-size:15px;
	color:#222222;
}
.lt-ie8 .main-navigation ul ul {
	position:absolute;
	z-index:99999;
}
.lt-ie9 .small-4, .row .small-4 { width: 33.33333%!important; }
.lt-ie9 .small-8, .row .small-8 { width: 66.66667%!important; }
.lt-ie8 #s{
	height:13px!important;
	padding-left:0px;
	padding-right:0px;
}
.lt-ie9 .show-for-small {
	display:none !important;
}
.lt-ie8 .row .row{
	width:100%;
}
.lt-ie8 hr {
	margin-top:-6px;
	margin-bottom:0.6em;
}
.lt-ie8 .row .large-12.hide-for-small { width: 97%; }
.lt-ie8 input.large.button {
	padding-left:0;
	padding-right:0;
}
.lt-ie8 .large-4, 
.lt-ie8 .row .large-4 { width: 29.33333%; }
.lt-ie9 #page {
	margin-top:0;	
}
.lt-ie9 #site-header {	
	border-bottom:none;
}
.ui-mobile-viewport {
	overflow:visible !important;
}
.lt-ie8 #main {	
	margin-top:0px;
}
.lt-ie8 .large-block-grid-2 li {
    width: 47.1%;
}
.lt-ie8 .large-block-grid-3 li {
    width: 30.3333%;
}
.lt-ie8 .large-block-grid-4 li {
    float: left;
    width: 21.92%;
    padding: 0 10px 10px;
}
.lt-ie8 .large-block-grid-5 li {
    width: 16.9%;
}
.lt-ie8 .large-block-grid-6 li {
    width: 13.5%;
}
.lt-ie8 .large-block-grid-7 li {
    width: 11.24%;
}
.lt-ie8 .large-block-grid-8 li {
    width: 9.3%;
}
.lt-ie8 .large-block-grid-9 li {
    width: 8%;
}
.lt-ie8 .large-block-grid-10 li {
    width: 6.87%;
}
.lt-ie8 .large-block-grid-11 li {
    width: 5.9%;
}
.lt-ie8 .large-block-grid-12 li {
    width: 5.09%;
}
.lt-ie9 img.size-auto, .lt-ie9 img.size-full, .lt-ie9 img.size-large, .lt-ie9 img.size-medium { 
	width:100%;
}
.lt-ie9 .small-1 {
    position: relative;
    width: 8.33333%;
}
.lt-ie9 .small-2 {
    position: relative;
    width: 16.6667%;
}
.lt-ie9 .small-3 {
    position: relative;
    width: 25%;
}
.lt-ie9 .small-4 {
    position: relative;
    width: 33.3333%;
}
.lt-ie9 .small-5 {
    position: relative;
    width: 41.6667%;
}
.lt-ie9 .small-6 {
    position: relative;
    width: 50%;
}
.lt-ie9 .small-7 {
    position: relative;
    width: 58.3333%;
}
.lt-ie9 .small-8 {
    position: relative;
    width: 66.6667%;
}
.lt-ie9 .small-9 {
    position: relative;
    width: 75%;
}
.lt-ie9 .small-10 {
    position: relative;
    width: 83.3333%;
}
.lt-ie9 .small-11 {
    position: relative;
    width: 91.6667%;
}
.lt-ie9 .small-12 {
    position: relative;
    width: 100%;
}

