/*
= Navigation bar
------------------------------------------*/
#nav-bar-wrapper{
    background: #111;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    width: 100%;
}
#navigation-bar{
    
}
#navigation-bar .bar-item{
    display: table-cell;
    font-size: 1.5em;
}
#navigation-bar .bar-button{
    width: 45px;
}
#navigation-bar .bar-item a{
    color: #fff;
    padding: 0.5em;
    display: block;
}
#navigation-bar .bar-item i{
    margin: 0 auto;
    display: block;
}
#navigation-bar #bar-title{
    width: 100%;
    vertical-align: middle;
}
#navigation-bar #bar-title a{
    padding-top: 0;
    line-height: 2em;
    font-size: 0.9em;
}
/* mobile navigation */
.fixed-mobile-menu{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 1s ease;
    position: fixed;
    top: 45px;
    background: #5a5a5a;
    z-index: 9999;
}
#mobile-navigation:target{
    max-height: 2000px;
}
.fixed-mobile-menu > ul{
    margin: 0;
    padding: 0;
}
.fixed-mobile-menu li{
  width: 100%;
  display: block;
  padding: 0.8em;
  background: #222;
  border-bottom: 1px solid #000;
  border-top: 1px solid #3c3c3c;
}
.fixed-mobile-menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
}
.fixed-mobile-menu ul ul{
    padding-left: 1em;
}
.fixed-mobile-menu ul ul li{
    border: none;
    padding-left: 0;
    padding-bottom: 0;
}
/* mobile close container */
.close-menu{
    width: 100%; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999;
    display: none;
}
.close-menu a{
    display: block;
    width: 100%;
    height: 100%;
}
#mobile-navigation:target + .close-menu{
    display: block;
    opacity: 0.6;
}

/*
= Panel
------------------------------------------*/
.left-panel{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 0; 
    overflow: hidden;
    position: fixed;
    padding-top: 1em;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.3s ease;
    background: #5a5a5a;
    z-index: 9999;
    text-shadow: -1px -1px #222;
}
.left-panel a{
    color: #f1f1f1;
}
.close-panel{
    width: 100%; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #5a5a5a;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
}
.close-panel a{
    display: block;
    width: 100%;
    height: 100%;
}
#mobile-panel:target{
    width: 90%;
    -webkit-box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
#mobile-panel:target + .close-panel{
    display: block;
    opacity: 0.6;
}
#close-panel-widget{
    background: #494949;
}
#close-panel-widget a{
    display: block;
    padding: 0.5em 1em;
}
#close-panel-widget i{
    float: right;
    line-height: 1.6em;
}