/*! responsive-nav.js v1.0.14 by @viljamis */

#nav ul{
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
#nav ul.menu{
    position: fixed;
    top: 45px;
    z-index: 999;
}
#nav li{
  width: 100%;
  display: block;
  padding: 0.8em;
  background: #222;
  border-bottom: 1px solid #000;
  border-top: 1px solid #3c3c3c;
}
#nav li a{
  color: #fff;
  text-decoration: none;
  display: block;
}
#nav ul ul li > a:before{
    content: " - ";
}
#nav ul ul ul li > a:before{
    content: " - - ";
}
#nav ul ul li{
    border: none;
    padding-left: 0;
    padding-bottom: 0;
}

.js #nav{
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  top: 45px;
  zoom: 1;
}
#nav.opened{
  max-height: 9999px;
}

@media screen and (min-width: 50em) {
  .js #nav {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}
